*
{
  font-size: 40px;
  font-family: Comic Sans MS;
}
body{
  background-image: url('/image/map.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}
.nav
{
  background-color: rgb(104, 76, 42);
  
}
.nav a{
  text-decoration: none;
  margin:5%;
  color: whitesmoke;
}
h1{
  color: whitesmoke;
  font-weight: bolder;
}
table{
  color: white;
}
